.categories-mobile {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -100%;
  background: white;
  z-index: 300;
  transition: all .3s;

  &.active {
    left: 0;
    transition: all .3s;
  }

  .close-categories {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: #664AFF;

    i {
      font-size: 38px;
      color: white;
    }
  }
}

header {
  box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.75);
  padding: 30px 60px;
  position: relative;
  height: 130px;

  .logo-link {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    text-decoration: none;

    img { height: 90px; }
  }

  .type-result {
    background: white;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: -1px 8px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 21px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 21px 1px rgba(0,0,0,0.75);
    padding: 20px 10px;
  }

  .show-categories {
    margin-top: 45px;
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  header {
    .search-box {
      right: -10px;
      bottom: -20px;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    position: fixed;
    height: 100px;
    padding: 0 55px;
    background: white;
    z-index: 100;
    width: 100vw;

    .logo-link img { height: 65px; }
  }
}
