header {
  ::selection{
    color: #fff;
    background: #664AFF;
  }

  .search-box {
    z-index: 300;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.active {
      width: 350px;

      input { opacity: 1; }

      .search-icon {
        right: 5px;
        height: 50px;
        width: 50px;
        font-size: 20px;
        background: #664AFF;
        color: #fff;
        transform: translateY(-50%) rotate(360deg);
      }

      .cancel-icon {
        right: -40px;
        transform: translateY(-50%) rotate(360deg);
      }
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 50px;
      background: #fff;
      outline: none;
      padding: 0 60px 0 20px;
      font-size: 18px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &::placeholder { color: #a6a6a6; }
    }

    .search-icon {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      width: 60px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 22px;
      color: #664AFF;
      cursor: pointer;
      z-index: 1;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .cancel-icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      color: #664AFF;
      cursor: pointer;
      transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .search-data {
      width: 100%;
      position: absolute;
      top: calc(100% + 5px);
      background: #fff;
      font-size: 18px;
      word-wrap: break-word;
      padding: 10px;
      margin-top: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
      height: auto;

      a, a:active, a:visited {
        color: black;
        padding: 10px;
        width: 100%;
        display: block;
        text-decoration: none;
        &:hover {font-weight: bold;}

        &:not(:last-child) {
          border-bottom: 1px solid black
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header .search-box {
    top: 30px;
    box-shadow: none;
  }
}
