.categories-container {
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
  }
}

.categories-sidebar {
  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style: none;
      font-size: 20px;
      font-weight: bold;
      padding: 20px 0;

      a, a:active, a:visited { color: black; }

      span {
        width: 100%;
        display: block;
        box-sizing: border-box;
        height: 2px;
        animation: animate 4s linear infinite;
      }

      @keyframes animate {
        0% {
          transform:scaleX(0);
          transform-origin: left;
        }
        50% {
          transform:scaleX(1);
          transform-origin: left;
        }
        50.1% {
          transform:scaleX(1);
          transform-origin: right;
        }

        100% {
          transform:scaleX(0);
          transform-origin: right;
        }
      }
    }
  }
}
